*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-color: #32043F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
}
form{
    width: clamp(200px, 400px, 500px);
    padding: 15px;
    margin: 15px 0 0 0;
    background-color: #79328C;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 100px #79328C;
}
form div textarea{
    width: 100%;
    height: 180px;
    resize: none;
    margin: 0 auto 5px 0;
}
form div label, input, textarea{
    margin-bottom: 5px;
    display: flex;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    outline: none;
    padding: 5px;
}
form div input, textarea{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    color: grey;
}
form div label{
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 15px;
    color: #e9a6fc;
}
form div input{
    width: 100%;
    font-size: 13px;
    padding: 10px;
}
#email, #cc{
    text-transform: none;
}
form #buttonDiv{
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    justify-content: space-around;
}
form div button{
    width: 49%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border-style: none;
    cursor: pointer;
    background-color: #931FB3;
    border: #33044077 solid 1px;
    color: #f2c3ff;
    overflow: hidden;
}
form div button i{
    margin-right: 5px;
}
.fa-paper-plane{
    position: relative;
    offset-distance: 0%;
    transition: offset-distance 0.3s ease-in, filter 0.3s ease-in;
    top: -211px;
    left: -245px;
    transform: rotate(122deg);
    offset-path: path("M 250 217.5 C 202 118.3 128 193.667 97.0001 235 C -273 -214.5 241.167 124.667 517 111 L 411.5 217.5 C 377.667 258.833 298 316.7 250 217.5 Z");
}
form div button:hover .fa-paper-plane{
    offset-distance: 100%;
    filter: drop-shadow(2px 2px 1px #471256);
}
form div button .fa-eraser{
    position: relative;
    left: 0;
}
form div button:hover .fa-eraser{
    animation: erase 0.8s linear infinite;
}
@keyframes erase {
    0% {
        left: 0px;
    }
    50%{
        left: -5px;
    }
    80%{
        left: 5px;
    }
    100%{
        left: 0px;
    }
}
form .required::placeholder{
    color: rgba(255, 0, 0, 0.596);
}
form .wrongValue{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: #931FB3;
    border-radius: 5px;
    border: 1px solid #66137D;
    padding: 10px;
    color: #f2c3ff;
}
form .disableButton {
    border: 1px solid #66137D;
    background-color: #c229ec;
    cursor: not-allowed;
}
.blurBody{
    filter: blur(0px);
}
.divLoader{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -28px;
}
.loader {
    width: 8px;
    height: 48px;
    display: block;
    margin: auto;
    left: -20px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
.sendSucefully{
    display: none;
    position: absolute;
    widows: 45%;
    padding: 15px;
    background-color: #79328C;
    border: 1px solid #32043F;
    border-radius: 5px;
    color: #f2c3ff;
    top: -10%;
    animation: sendSucefully 3s ease-in-out;
}
  
@keyframes animloader {
    0% {
        box-shadow: 20px 0 rgba(255, 255, 255, 0.25), 40px 0 #32043F, 60px 0 #32043F;
    }
    50% {
        box-shadow: 20px 0 #32043F, 40px 0 rgba(255, 255, 255, 0.25), 60px 0 #32043F;
    }
    100% {
        box-shadow: 20px 0 #32043F, 40px 0 #32043F, 60px 0 rgba(255, 255, 255, 0.25);
    }
}
@keyframes sendSucefully{
    0%{
        transform: translateY(-10%);
    }
    10%, 90%{
        transform: translateY(68px);
    }
    100%{
        transform: translateY(-10%);
    }
}
@media (max-width: 375px) {
    form{
        width: 347px;
        padding: 10px;
    }
}
@media (max-width: 320px) {
    form{
        width: 297px;
    }
}